.transition {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    display: block;
    clear: both;
}

.spacer10 {
    height: 10px;
}

.spacer20 {
    height: 20px;
}

.spacer30 {
    height: 30px;
}

.spacer40 {
    height: 40px;
}

.spacer50 {
    height: 50px;
}


* {
    font-family: "Open Sans";
}

.main-wrapper {
    max-width: 980px;
    margin: 0 auto;
    display: block;
    padding: 20px;
    overflow-x: hidden;
}


/* CONTENT */

.content-header {
    color: #d9a639;
    font-size: 25px;
}

.content-wrap {
    padding: 20px;
    font-size: 16px;
}

.content-sub-text a {
    color: #d9a639;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.content-sub-text {
    font-size: 15px;
}

.form-subtext a {
    color: #d9a639;
    font-weight: bold;
    text-decoration: none;
}

.form-subtext {
    display: block;
    font-size: 12px;
}

.c-form-group textarea,
.c-form-group input,
.c-form-group select {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    font-size: 16px;
    display: block;
    width: 100%;
    max-width: 500px;
}

.c-form-group br {
    display: none;
}

.c-form-group label {
    margin-bottom: 9px;
    display: block;
    font-weight: bold;
}

.c-form-group {
    padding: 10px 0;
}

.c-form input[type="submit"] {
    background: #520201;
    color: #d9a639;
    font-weight: bold;
    border: 0;
    display: block;
    width: 100%;
    max-width: 200px;
    padding: 15px;
    border-radius: 5px;
}

.c-form-group.time select {
    display: inline-block;
    width: auto;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: 0;
    color: #fff;
    padding: 15px;
    background: #d9a639;
    margin: 0;
}

p.c-head {
    font-weight: bold;
    font-size: 20px;
}


/* =============================
HOME */

#home-slider .slide {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center center;
}

a.page-btn {
    color: #d9a639 !important;
    text-decoration: none;
    background: #520201;
    padding: 10px;
    margin: 25px 0;
    display: block;
    text-align: center;
    width: 90%;
    max-width: 150px;
    border-radius: 5px;
}
.home-main-wrapper .content-wrap {
    max-width: 980px;
    margin: 0 auto;
}
.section-wrap {
    background:#efefef;
}
.home-list li {
    list-style-type: none;
}
#home-gallery .hg-slide {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center center;
}
@media screen and (max-width:767px){
  #home-slider .slide {
    height:150px;
  }  
}
/* =============================
RATES AND PACKAGES */

.rate-wrap>img {
    margin-bottom: 15px;
}

.rate-wrap {
    font-size: 16px;
    padding: 20px;
}

p.details-head {
    font-weight: bold;
    text-transform: uppercase;
}

.rate-wrap>.rate-details>p>b {
    text-transform: uppercase;
}

.rate-image img {
    display: block;
    width: 100%;
    padding: 15px;
}

.rate-table th {
    background: #E3E8EA;
    padding: 15px;
}

.rate-table table {
    width: 100%;
    text-align: left;
    padding: 15px;
    margin-bottom: 15px;
}

.rate-table tbody td:nth-child(1) {
    background: #E3E8EA;
    border-color: #ccc;
    font-weight: bold;
}

.rate-table tbody td {
    padding: 10px;
    border: 1px solid #ccc;
}

.rate-spacer.clear {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 35px 0;
}


/* =============================
RESERVATION */


/* =============================
GALLERY */

.g-images a {
    height: 160px;
    overflow: hidden;
    display: block;
    padding: 10px 5px;
    position: relative;
}

.g-images a img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-images:after {
    clear: both;
    content: '';
    display: block;
}

a.gallery-contact {
    color: #d9a639;
    font-weight: bold;
    text-decoration: none;
}

.gallery-images>p {
    font-weight: bold;
    font-size: 20px;
}

.gallery-images {
    padding: 15px 0;
}


/* =============================
LOCATION */

.img-map img {
    display: block;
    width: 100%;
}

.img-map a {
    display: block;
    color: #d9a639;
    background: #520201;
    padding: 10px 15px;
    max-width: 150px;
    margin: 20px 0;
    font-weight: bold;
    text-decoration: none;
}

.img-map a:hover {
    color: #d9a639;
    background: #520201;
}

.img-map p span {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 0 0 10px 0;
}

#gmap {
    width: 100%;
}

.g-map a {
    color: #d9a639;
    font-weight: bold;
}

.directions>p {
    font-weight: bold;
    font-size: 18px;
}


/* =============================
FAQs */

.faq-wrap li {
    padding: 5px 0;
}

.faq-wrap .faq-h {
    font-weight: bold;
}

.faq-wrap {
    font-size: 16px;
    padding: 20px;
}

.faq-wrap ul {
    padding: 0;
    margin: 0;
}


/* =============================
ABOUT */

.about-img {
    float: left;
    padding: 20px;
}


/* =============================
CONTACT US */