footer#footer p {
    text-transform: uppercase;
    color: #d9a639;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
}
footer#footer {
    background: #520201;
    padding: 20px 10px;
    text-align: center;
}
footer#footer nav ul {
    list-style-type: none;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
footer#footer nav ul li {
    display: inline-block;
}
footer#footer nav ul li a {
    text-decoration: none;
    color: #d9a639;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 10px;
}

@media screen and (max-width: 768px){
    footer#footer nav ul {
        border-bottom: 1px solid #d9a639;
        padding-bottom: 20px;
    }
    footer#footer nav ul li {
        display: block;
    }
    footer#footer nav ul li a {
        display: block;
        font-size: 10px;
        padding: 5px;
    }
}