header#main-header nav ul li a {
    color: rgb(217, 166, 57);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 20px 20px;
    text-decoration: none;
    display: block;
    background:transparent;
}
header#main-header nav ul li.current_page_item a {
    background: #853200;
}
header#main-header nav ul li a:hover {
    color: #fff;
    background: rgb(133, 50, 0);
}

header#main-header nav ul {
    background: rgb(82,2,1);
    padding: 0;
    margin: 0;
    text-align: center;
}
header#main-header nav ul li {
    display: inline-block;
    background: transparent;
    color: rgb(217, 166, 57);
}
header#main-header .logo {
    text-align: center;
    padding: 30px 10px;
}
header#main-header {
        background-repeat: repeat-x;
    background-position: top center;
    background-color: #757575;
}

/*mobile*/
.mobile-toggle {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #d9a639;
    background: #520201;
    padding: 15px;
    display:none;
    cursor:pointer;
}
.mobile-toggle * {
    display:inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 768px){
    .mobile-toggle {
        display:block;
    }
    header#main-header nav ul li {
        display: block;
    }
    header#main-header nav ul {
        display: none;
    }
}